
/* background image from: https://www.freepik.com/free-photos-vectors/dark-green-background */

html {
  box-sizing: border-box;
  /* opacity: 30%; */
}

*,*::before,*::after {
  margin: 0;
  box-sizing: inherit;
}

body {
  background-color: #548c2f;
  background-image: url("./../assets/pics/greenbackground2.jpg");
  background-size: cover;
  text-align: center;
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-areas: 
  "upperLeft upperCenter upperRight"
  "midLeft midCenter midRight"
  "lowerLeft lowerCenter lowerRight";
}

#title {
  grid-area: upperCenter;
  color: white;
  font-size: 6rem;
}

#board {
  grid-area: midCenter;
  display: grid; 
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  /* grid-template-areas: 
  
  "56 57 58 59 60 61 62 63"
  "48 49 50 51 52 53 54 55"
  "40 41 42 43 44 45 46 47"
  "32 33 34 35 36 37 38 39"
  "24 25 26 27 28 29 30 31"  
  "16 17 18 19 20 21 22 23"
  "8 9 10 11 12 13 14 15"
  "0 1 2 3 4 5 6 7"
  ; */

  height: 75vh;
  width: 75vh;
}

div div:hover {
  border: 3px solid red;
}

.possibleMoveTo {
  border: 3px solid purple;
}

.possibleMoveFrom {
  border: 3px solid blue;
}

.activeTile {
  border: 3px solid red;
}



.checkers-piece {
  display: grid;
  background-color: red;
  height: 9vh;
  width: 9vh;
  border-radius: 50%;
  border: solid 3px darkred;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  align-content: center;
  color: white;
  font-size: 35px;
  position: absolute;
  top: 50.5%;
  left: 45.4%;
  
}

.red {
  background-color: red;
  border: dashed 0.5rem darkred;
  color: darkred;
}

.black {
  background-color: rgb(40,40,40);
  border: dashed 0.5rem black;
  color: black
}

.non-king {
  font-size: 20px;
}

.king {
  
}


/* p {
  display: inline;
  height: 100%;
  width: 100%;
  font-size: 35px;
} */
