
/* background image from: https://www.freepik.com/free-photos-vectors/dark-green-background */

html {
  box-sizing: border-box;
}

*,*::before,*::after {
  margin: 0;
  box-sizing: inherit;
}

body {
  display: grid;
  background-color: #548c2f;
  background-image: url("./../assets/pics/greenbackground2.jpg");
  background-size: cover;
  justify-content: center;
  text-align: center;
  
  height: 100vh;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-areas: 
  "upperLeft upperCenter upperRight"
  "midLeft midCenter midRight"
  "lowerLeft lowerCenter lowerRight";
}

#title {
  grid-area: upperCenter;
  color: white;
  font-size: 6rem;
  text-align: center;
}

#board {
  margin: 0 auto;
  grid-area: midCenter;
  display: grid; 
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  height: 75vh;
  width: 75vh;
}

.hoverable div:hover {
  border: 3px solid red;
}

.possible-move-to {
  border: 3px solid purple;
}

.possible-move-from {
  border: 3px solid blue;
}

.activeTile {
  border: 3px solid red; 
}


.tile {
  display: grid;
  justify-content: center;
  align-items: center;
}

.checkers-piece {
  display: grid;
  background-color: red;
  height: 8.5vh;
  width: 8.5vh;
  border-radius: 50%;
  border: solid 3px darkred;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  align-content: center;
  color: white;
  font-size: 35px;
  position: absolute;
  top: 50.5%;
  left: 45.4%;
  
}

.red-checker-non-king {
  background-image: url('../assets/pics/red-checker-non-king.png');
  background-size: cover;
}

.red-checker-king {
  background-image: url('../assets/pics/red-checker-king.png');
  background-size: cover;
}
.black-checker-non-king {
  background-image: url('../assets/pics/black-checker-non-king.png');
  background-size: cover;
}
.black-checker-king {
  background-image: url('../assets/pics/black-checker-king.png');
  background-size: cover;
}

.empty-light {
  background-color: #C4A484;

}

.empty-dark {
  background-color: #a0522d;
}

.menu {
  background-color: black;
  grid-area: midCenter;
  z-index: 1;
  margin: 0 auto;
  border-radius: 15%;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: 8vh 1fr 8vh 1fr 8vh 1fr 8vh;
  grid-template-areas: 
  "menu menu menu menu menu"
  "space1 space1 space1 space1 space1"
  "choosePlayer1 humanP1 AIEasyP1 AIMediumP1 AIHardP1"
  "space2 space2 space2 space2 space2"
  "choosePlayer2 humanP2 AIEasyP2 AIMediumP2 AIHardP2"
  "space3 space3 space3 space3 space3"
  "start start start start start";
}

.menu-sign {
  color: white;
  grid-area: menu;
  text-decoration: underline white;
  white-space: nowrap;
}

.choose-player-1 {
  grid-area: choosePlayer1;
  color: white;
  white-space: nowrap;
  font-size: 0.7rem;
  align-self: center;
}

.choose-player-2 {
  grid-area: choosePlayer2;
  color: white;
  white-space: nowrap;
  font-size: 0.7rem;
  align-self: center;
}


.difficulty-level {
  font-size: .5rem;
  margin: 0 .05vw;
  width: 11vh;
  border-radius: 7%;
}

#human-button-1 {
  grid-area: humanP1;
  
}

#ai-easy-button-1 {
  grid-area: AIEasyP1; 
}

#ai-medium-button-1 {
  grid-area: AIMediumP1;
}

#ai-hard-button-1 {
  grid-area: AIHardP1;
}

#human-button-2 {
  grid-area: humanP2;
  
}

#ai-easy-button-2 {
  grid-area: AIEasyP2; 
}

#ai-medium-button-2 {
  grid-area: AIMediumP2;
}

#ai-hard-button-2 {
  grid-area: AIHardP2;
}

#start-button {
  grid-area: start;
  width: 10vh;
  justify-self: center;
}

.active-button {
  border: 3px solid red;
}

.game-over-display {
  background-color: black;
  color: white;
  grid-area: midCenter;
  z-index: 1;
  margin: 0 auto;
  border-radius: 15%;
  display: grid;
  justify-content: center;
  align-items: center;
}